.cardbg{
background-color: aliceblue;
}
.card-text-10{
  display: inline-block;
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.paginationBttns{
  display:flex;
  justify-content: center;
  cursor: pointer;
  list-style: none;
  
}
.paginationBttns a {
  padding: 0.5rem;
  text-decoration: none;
  color: rgb(43, 4, 52);
  
  border-radius: 0.5rem;
  margin: 0.1rem;
}